<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <button onclick="vm.openForm()">Open Form</button>
    <h1>{{ 'Nilai a: ' + a}}</h1>
    <h1>{{ 'Rata rata: ' + rerata}}</h1>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
        a: 0,
        input_value: '',
        max_val: parseInt(10),
        rerata: '',
        count: '',
      },
      methods : {
        openForm() {
          this.a=0
          this.input_value=0
          this.rerata=0
          this.count=0
          while(this.a <10){
            this.input_value = parseInt(prompt('Masukkan nilai a: '))
            this.a = this.a + this.input_value            
            this.count++
          }
          this.rerata = this.a / this.count
        }

      }
  })
  </script>
</body>
</html>
