body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: "Mohave";
    font-style: normal;
    font-weight: normal;
    font-size: 5vh;
    line-height: 67vh;
}

.logo {
    position: absolute;
    left: 2vh;
    top: -33vh;
    color: #ffffff;
    z-index: 1;
}

.image {
    position: absolute;
    width: 100vh;
    left: 100vh;
    top: 0vh;
    z-index: -1;

    -webkit-clip-path:
        polygon(20% 0%, 100% 0%,100% 100%,0% 100%);
    clip-path:
        polygon(20% 0%, 100% 0%,100% 100%,0% 100%);
}

.bio-desc {
    line-height: 6vh;
    
}

footer{
    background-color: #0d0146;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 35px;
    color: white;
}

.shadow {
    position: absolute;
    margin-top: -100vh;
    margin-left: -100vh;
    width: 3000vh;
    height: 150vh;
    background-image: linear-gradient(to top, rgba(0,0,0,0), rgb(0, 0, 0));
    z-index: 1;
}


.rectangle {
    height: 6px;
    width: 85px;
    background-color: #C7C2FF;
    border-radius: 10px;
}

.sosmed {
    position: absolute;
    margin-left: 33vh;
    margin-top: 55vh;
    z-index: 1;
    font-size: 2vh;
}

table {
    margin: 100px;
    line-height: 6vh;
    margin-left: 20vw;
}

th {
    padding: 10px;
    text-align: center;
} 

td {
    padding: 10px;
    text-align: center;
}

tr {
    padding: 10px;
    text-align: left;
}
.bio {
    margin-top: -10vh;
}

.center-text {
    text-align: center;
}
.main-section {
    height: 90vh;
    display: block;
}

.second-section {
    height: 120vh;
}

.footer-section {
    height: 10vh;
}

.main-name {
    position: absolute;
    margin-left: 1vh;
    margin-top: -5vh;
}

.pande {
    margin-bottom: -50vh; 
    font-size: 10vh;
    margin-left: 6vh;
}

.kadek-cahya {
    font-size: 15vh;
    margin-top: -55vh;
    margin-left: 8vh;
}

.wisnu-murti {
    margin-top: -68vh; 
    margin-left: 50vh;
    font-size: 10vh;
}