<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        form {
            width: 50%;
            margin: auto;
        }

        table {
            width: 80%;
            margin: auto;
            border: solid 1px #DDEEEE;
            border-collapse: collapse;
            border-spacing: 0;
        }

        table thead th {
            background-color: #DDEFEF;
            border: solid 1px #DDEEEE;
            color: #336B6B;
            padding: 10px;
            text-align: left;
            text-shadow: 1px 1px 1px #fff;
        }

        table tbody td {
            border: solid 1px #DDEEEE;
            color: #333;
            padding: 10px;
            text-shadow: 1px 1px 1px #fff;
        }

        input[type=text] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
        }

        input[type=number] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
        }

        input[type=file] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
        }

        .button-submit {
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
        }

        .button-update {
            background-color: #4496f5;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
        }

        .button-cancel {
            background-color: #757575;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
        }
    </style>
</head>
<body>
    <div id="app">
        <form @submit.prevent="submitForm()">
            <p v-if="errors.length">
                <b>Please correct the following errors: </b>
                <ul>
                    <li v-for="error in errors">{{ error }}</li>
                </ul>
            </p>
            <div>
                <input :disabled="statusForm == 'upload'" type="text" name="name" ref="name" v-model="form.name" placeholder="masukan namamu disini">
                <input :disabled="statusForm == 'upload'" type="text" name="address" ref="address" v-model="form.address" placeholder="alamat">
                <input :disabled="statusForm == 'upload'" type="number" name="no_hp" ref="no_hp" v-model="form.no_hp" placeholder="hp">
                <input v-if="statusForm == 'upload'" type="file" name="photo_profile" ref="photo_profile">
                <br>
                <div v-if="statusForm == 'submit'">
                    <input class="button-submit" type="submit" value="SUBMIT">
                </div>

                <div v-if="statusForm == 'update'">
                    <input class="button-update" type="button" value="UPDATE" @click="updateMember(form.id)">
                    
                </div>

                <div v-if="statusForm == 'upload'">
                    <input class="button-update" type="button" value="UPLOAD" @click="uploadPhoto(form.id)">
                </div>

                <input v-if="statusForm != 'submit'" class="button-cancel" type="button" value="CANCEL" @click="clearForm">
                <br>
            </div>
        </form>

        <table border="1">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>No. HP</th>
                    <th>Photo Profile</th>
                    <th>Acts</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="member in members">
                    <td>{{member.name}}</td>
                    <td>{{member.address}}</td>
                    <td>{{member.no_hp}}</td>
                    <td><img width=100 :src="member.photo_profile ? photo_profile_domain + member.photo_profile : 'https://dummyimage.com/16:9x1080'" alt="no"/></td>
                    <td><button @click="editMember(member.id)">Edit</button>
                        <button @click="deleteMember(member.id, member.name)">Delete</button>
                        <button @click="editPhoto(member.id)">Change Photo</button></td>
                </tr>
            </tbody>
        </table>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                errors: [],
                form: {
                    id: '',
                    name: '',
                    address: '',
                    no_hp: '',
                    photo_profile: '',
                },
                members: [],
                statusForm: 'submit',  //submit, update, upload
                photo_profile_domain : 'http://demo-api-vue.sanbercloud.com'
            },
            methods: {
                validasiForm: function() {
                    if(this.form.name.length < 5){
                        this.errors.push('Nama minimal 5 karakter')
                        this.$refs.name.focus()
                    }

                    if(this.form.address.length > 20){
                        this.errors.push('Address tidak boleh lebih dari 20 karakter')
                        this.$refs.address.focus()
                    }

                    if(this.form.hp.length < 10){
                        this.errors.push('HP tidak boleh kurang dari 10 karakter')
                        this.$refs.hp.focus()
                    }
                },
                submitForm: function() {
                    this.errors = []
                    this.validasiForm()

                    if(this.errors.length == 0){
                        const config = {
                        method: 'POST',
                        url: 'http://demo-api-vue.sanbercloud.com/api/member',
                        data : this.form
                        }

                        axios(config)
                            .then( (response) => {
                                this.getMembers()
                                this.clearForm()
                                alert(response.data.message)
                            })
                            .catch( (error) => {
                                alert('Terjadi kesalahan')
                                console.log(error)
                            })
                    }   
                },
                getMembers: function(){
                    const config = {
                        method: 'GET',
                        url: 'http://demo-api-vue.sanbercloud.com/api/member',
                    }

                    axios(config)
                        .then( (response) => {
                            this.members = response.data.members
                            // alert(response.data.message)
                        })
                        .catch( (error) => {
                            console.log(error)
                        })
                },
                clearForm: function(){
                    this.form.id = ''
                    this.form.name = ''
                    this.form.address = ''
                    this.form.no_hp = ''
                    this.form.photo_profile = ''
                    this.statusForm = 'submit'
                },
                editMember: function(param){
                    this.statusForm = 'update'
                    const config = {
                        method: 'GET',
                        url: `http://demo-api-vue.sanbercloud.com/api/member/${param}`
                    }

                    axios(config)
                        .then( (response) => {
                            this.form.name = response.data.member.name
                            this.form.address = response.data.member.address
                            this.form.no_hp = response.data.member.no_hp
                            this.form.id = response.data.member.id
                        })
                        .catch( (error) => {
                            console.log(error)
                        })
                },
                updateMember: function(param){
                    this.errors = []
                    this.validasiForm()

                    if(this.errors.length == 0){
                        const config = {
                            method: 'POST',
                            url: `http://demo-api-vue.sanbercloud.com/api/member/${param}?_method=PUT`,
                            data : this.form
                        }

                        axios(config)
                            .then( (response) => {
                                this.getMembers()
                                this.clearForm()
                                alert(response.data.message)
                            })
                            .catch( (error) => {
                                alert('Terjadi kesalahan')
                                console.log(error)
                            })
                    }
                },
                deleteMember: function(paramId, paramName){
                    let result = confirm(`yakin menghapus ${paramName}, dengan id ${paramId}?`);
                    if(result){
                        const config = {
                        method: 'POST',
                        url: `http://demo-api-vue.sanbercloud.com/api/member/${paramId}?_method=DELETE`,
                    }

                    axios(config)
                        .then( (response) => {
                            this.getMembers()
                            alert(response.data.message)
                        })
                        .catch( (error) => {
                            alert('Terjadi kesalahan')
                            console.log(error)
                        })
                    }
                },
                editPhoto: function(param){
                    this.statusForm = 'upload'
                    const config = {
                        method: 'GET',
                        url: `http://demo-api-vue.sanbercloud.com/api/member/${param}`
                    }

                    axios(config)
                        .then( (response) => {
                            this.form.name = response.data.member.name
                            this.form.address = response.data.member.address
                            this.form.no_hp = response.data.member.no_hp
                            this.form.id = response.data.member.id
                        })
                        .catch( (error) => {
                            console.log(error)
                        })
                },
                uploadPhoto: function(param){
                    let file = this.$refs.photo_profile.files[0]
                    let photo = new FormData()
                    photo.append('photo_profile', file)

                    const config = {
                        method: 'POST',
                        url: `http://demo-api-vue.sanbercloud.com/api/member/${param}/upload-photo-profile`,
                        data : photo
                    }

                    axios(config)
                        .then( (response) => {
                            this.getMembers()
                            this.clearForm()
                            alert(response.data.message)
                        })
                        .catch( (error) => {
                            console.log(error)
                            alert('Terjadi kesalahan')
                        })
                }
            },
            created() {
                this.getMembers()
            }
        })
    </script>
</body>
</html>