<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <form @submit.prevent="submitForm()">
            <input type="text" v-model="name" ref="name">
            <input type="hidden" v-model="indexOfName">
            <input v-if="update" type="submit" value="update">
            <input v-else type="submit" value="add">
        </form>
        <ul>
            <li v-for="(item, index) in users" :key="item.name">{{ item.name }} <button v-on:click="editForm(item.name, index)">Edit</button> || <button v-on:click="deleteUser(item.name, index)">Delete</button></li> 
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                name: '',
                update: false,  // memberikan status form apakah update atau buat baru
                users: [
                    { 'name' : 'Muhamad Iqbal Mubarok' },
                    { 'name' : 'Ruby Purwanti' },
                    { 'name' : 'Faqih Muhammad' },
                ],
                indexOfName: '' 
            },
            methods: {
                submitForm: function() {
                    if(this.name.length === 0) {        // validasi jika datanya kosong
                        alert('aduh, isi dulu datanya!')
                        this.$refs.name.focus()
                    } else {
                        if(!this.update){       // validasi status update=false akan menyimpan data
                            this.users.push({ 'name' : this.name})
                            this.name = ''
                        } else {    // validasi status update= true akan update array users
                            console.log(1)
                            this.users[this.indexOfName] = { 'name' : this.name }
                            this.name = ''             // clear form
                            this.update = false       // dan pengembalian status update false
                        } 
                    }
                },
                editForm(param, index){         // pengambilan data dari list, dengan nama dan index array, di assign ke form
                    this.update = true
                    this.name = param
                    this.indexOfName = index
                },
                deleteUser(param, index){        // menghapus data juga mengambil value nama serta index array
                    var result = confirm(`yakin menghapus ${param}?`);   //dialog konfirmasi penghapusan
                    if (result) {
                        let frontPart = this.users.slice(0, index);     //melakukan slice array dari 0 sampai index array yg akan dihapus
                        let lastPart  = this.users.slice( index+1 );    // melakukan slice setelah array yg akan dihapus
                        this.users =  [...frontPart, ...lastPart];      // penggabungan array ke variable users
                    }
                }
            },
        })
    </script>
</body>
</html>