<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input type="text" placeholder="ketikkan kata kunci" v-model="kataKunci" v-on:keyup="searchBuku(kataKunci)">
        <ul>
            <li v-for="item in searchedBooks">{{ item }}</li>
        </ul>
        <p v-if="searchedBooks.length === 0">aduh buku {{ kataKunci }} engga ada</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                kataKunci: '',
                books: [
                    'Kalkulus Dasar',
                    'Fisika Dasar',
                    'Aljabar Linier Elementer',
                    'Aljabar Abstrak',
                    'Algoritma Pemrograman'
                ],
                searchedBooks: []
            },
            methods: {
                searchBuku(param){
                    if(param.length > 0){
                        this.searchedBooks = this.books.filter( (str) => { return str.toLowerCase().includes(param) })
                    } else {
                        this.searchedBooks = this.books
                    }
                },
            },
            beforeMount(){
                this.searchBuku(this.searchedBooks)
            },
        })
    </script>
</body>
</html>